html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header h2 {
    margin-bottom: 40px;
    color: #fff;
}

.header-container {
    max-width: 300px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Custom Button */
.btn-light {
    width: 100px !important;
    background-color: transparent;
    color: #f9a6cc;
    border: 1px solid #f9a6cc;
    transition: .2s ease;
    margin-bottom: 2em;
}

.btn-light:hover {
    background-color: #f9a6cc;
    color: white;
    transition: .2s ease;
}

/* Custom Horizontal Rule */
hr.small {
    max-width: 100px;
}

/* Projects */
.projects {
    padding: 50px 0;
    background-color: #b88bad;
}

.project-item {
    margin-bottom: 30px;
}

/* People */
.people {
    padding: 50px 0;
}

.people-item {
    margin-bottom: 30px;
}

.img-people {
    margin: 0 auto;
}

.img-people:hover {
    opacity: 0.8;
}
